[build-system]
requires = ["setuptools>=42", "wheel", "setuptools-git-versioning"]
build-backend = "setuptools.build_meta"

[project]
name = "reaction-network"
description = "Reaction-network is a Python package for synthesis planning and prediction of chemical reaction pathways in inorganic materials synthesis."
readme = "README.md"
keywords = [
    "reaction",
    "network",
    "computational",
    "graph",
    "inorganic",
    "materials",
    "retrosynthesis",
    "synthesis",
    "planning",
]
license = { text = "modified BSD" }
authors = [{ name = "Matthew McDermott", email = "mcdermott@lbl.gov" }]
dynamic = ["version"]
classifiers = [
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "Development Status :: 4 - Beta",
    "Intended Audience :: Science/Research",
    "License :: OSI Approved :: BSD License",
    "Operating System :: OS Independent",
    "Topic :: Scientific/Engineering :: Information Analysis",
    "Topic :: Scientific/Engineering :: Physics",
    "Topic :: Scientific/Engineering :: Chemistry",
    "Topic :: Software Development :: Libraries :: Python Modules",
]
requires-python = ">=3.8"
dependencies = [
    "pymatgen>=2022.8.23",
    "numba>=0.56.1",
    "jobflow>=0.1.10",
    "ray>=2.4.0",
    "rustworkx>=0.12.0",
]

[project.optional-dependencies]
docs = [
    "jupyter_contrib_nbextensions==0.5.1",
    "mkdocs==1.4.0",
    "mkdocs-autorefs==0.4.1",
    "mkdocs-coverage==0.2.5",
    "mkdocs-jupyter==0.22.0",
    "mkdocs-section-index==0.3.4",
    "mkdocstrings==0.19.0",
    "mkdocstrings-python==0.7.1",
    "pymdown-extensions==9.6",

]
tests = ["pytest==7.1.3", "pytest-cov==4.0.0", "mp-api==0.33.3"]
strict = [
    "numba==0.57.0",
    "pymatgen==2023.5.31",
    "jobflow==0.1.11",
    "ray==2.5.0",
    "rustworkx==0.12.1",
]

[project.urls]
homepage = "https://genesis-efrc.github.io/reaction-network/"
documentation = "https://genesis-efrc.github.io/reaction-network/"
repository = "https://github.com/GENESIS-EFRC/reaction-network"
changelog = "https://github.com/GENESIS-EFRC/reaction-network/blob/main/docs/CHANGELOG.md"

[tool.coverage.run]
include = ["src/*"]
parallel = true
branch = true

[tool.coverage.paths]
source = ["src/"]

[tool.coverage.report]
skip_covered = true
show_missing = true
exclude_lines = [
    '\#\s*pragma: no cover',
    '^\s*assert False(,|$)',
    'if typing.TYPE_CHECKING:',
    '^\s*@overload( |$)',
]
omit = ["data/nist/generate_janaf_data.py", "pathways/plotting.py"]

[tool.flake8]
exclude = ".git,__pycache__,tests"
max-line-length = 88
max-doc-length = 88
extend-ignore = "E741,W291,W293,E501,E231,E203,F401"
min-python-version = "3.8.0"
docstring-convention = "google"

[tool.isort]
profile = "black"
known_first_party = "rxn_network"

[tool.pytest]
addopts = "--durations=10"

[tool.pytest.ini_options]
addopts = "-n auto"

[tool.setuptools.package-data]
rxn_network = ["py.typed"]

[tool.setuptools-git-versioning]
enabled = true
